<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happiness Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body style="background-color: #1a1a1a;">
    <div style="width: 800px; margin: 50px auto;">
        <h2>Correlation: GDP vs. Happiness Score</h2>
        <div class="stats-container">
            <div class="stat-card">
                <span class="stat-label">Countries ranked</span>
                <span id="countryCountId" class="stat-value" >$count</span>
                <span class="stat-sub">$year edition</span>
            </div>

            <div class="stat-card">
                <span class="stat-label">Happiest nation</span>
                <span class="stat-value" >$Nation</span>
                <span class="stat-sub">Score 7.769</span>
            </div>

            <div class="stat-card">
                <span class="stat-label">Global avg score</span>
                <span class="stat-value" >$average</span>
                <span class="stat-sub">out of 10</span>
            </div>

            <div class="stat-card">
                <span class="stat-label">Score range</span>
                <span class="stat-value" >$range</span>
                <span class="stat-sub">$low -> $high</span>
            </div>
        </div>
        <select id="yearSelect" style="padding: 10px; border-radius: 5px;">
            <option value="2019">2019 Data</option>
            <option value="2018">2018 Data</option>
        </select>

        <div style="text-align: end;">
            <input type="text" id="countrySearch" placeholder="Search for a country..."
                   style="padding: 10px; width: 300px; border-radius: 5px; border: 1px solid #ccc;">
        </div>
        <canvas id="happinessChart"></canvas>
    </div>
    <script th:src="@{/js/dashboard.js}"></script>
</body>
</html>